*{
    margin: 0;
    padding: 0;
}
.navbar  ul{
    height:10vh;
    background-color: black;
}
.navbar img{
    height:9vh;
    margin-left: 3vh;
}
.navbar ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    margin:0 1vh;
}
/* ---------------Heading---------------- */
.heading{
    background-image: url(img/background.jpg);
    height:100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.heading .col-left img{
    height:80vh;
    margin-left: 20vw;
    margin-top: 20vh;
}